html, body {
    width: 50%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    width: 360px;
}
#inputField {
    width: 250px;
    height: 45px;
    border: 1px solid blue;
    outline: none;
    font-size: 28px;
    vertical-align: middle;
}
#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    cursor: pointer;
}
.to-dos {
    margin-top: 25px;
    cursor: pointer;
}
.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}